//
// GL4Java extensions get all permissions !
//
// This config-piece should be added on top of the file:
//
// If a Java2 SDK is used:
//	<java2-installation>/jre/lib/security/java.policy
//
// If a Java2 JRE is used:
//	<jre-installation>/lib/security/java.policy
//
// The GL4Java Homepage:
//
//	http://www.jausoft.com/gl4java/
//

grant codeBase "http://www.jausoft.com/Files/Java/1.1.X/GL4Java/Installer/*"
{
        permission java.security.AllPermission;
};                                                                              

